<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Music Practice Tracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
  </head>
    <div class="central-content-container">
      <div class="main-page-items">
        <h1 class="central-header">Music Practice Tracking</h1>
        <p class="central-description">A space to track and record your music practice session and notes.</p>
        <div class="nav-buttons">
          <button class="main-nav-button">Sign-Up</button>
          <button class="main-nav-button">Login</button>
        </div>
      </div>
    </div>
    
    <script src="" async defer></script>
  </body>
</html>
