<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">

<body>
  <div class="form_container">
    <div class="form_elements">
      <h1>Login</h1>
        <form method="POST">
          {# This hidden field is MANDATORY for Flask-WTF security #}
          {{ form.hidden_tag() }}

          <div>
              {{ form.username.label }}
              {{ form.username(id="username") }} 
          </div>
          <div>
              {{ form.password.label }}
              {{ form.password(id="password") }}
          </div>
          <div>
              {{ form.remember_me() }} {{ form.remember_me.label }}
          </div>
          
          <button class="submit-button" type="submit">Login</button>
      </form>
    </div>
  </div>
</body>